@font-face{
  font-family: "Arlon";
  src: url("fonts/Arlon-Regular.otf") format("opentype");
  font-display: swap;
  font-weight: 400;
}

@font-face{
  font-family: "Arlon";
  src: url("fonts/Arlon-Bold.otf") format("opentype");
  font-display: swap;
  font-weight: 700;
}

:root{
  --brand-1: #3A403B;
  --brand-2: #324031;
  --accent:  #7ABF49;
  --black: #0D0D0D;
  --white: #ffffff;
}

header img{
    width: 150px;
    display: block;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

body{
  margin:0;
  padding: 15px;
  background:#7ABF49;
  font-family:"Arlon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas{
  display:block;
  margin:18px auto;
  border-radius:16px;
  background:var(--white);
  box-shadow:0 18px 40px rgba(0,0,0,.1);
  width: 90%;
  height: 500px;
}

#leaderboard{
  position:absolute;
  right:20px;
  top:20px;
  width:300px;
  background:var(--white);
  border-radius:12px;
  padding:12px;
  box-shadow:0 14px 36px rgba(0,0,0,.15);
}

#lbList li{
  padding:8px 4px;
  margin-bottom:4px;
  display:flex;
  justify-content:space-between;
  border-radius:8px;
}

#lbList li:hover{
  background:rgba(122,191,73,0.08);
}

#lbList li:nth-child(1){ color:var(--accent); font-weight:700; }
